# Build folder
build/
# Visual Studio Code folder
.vscode
# SFTP configuration file
sftp-config.json
# Sublime Text files
*.sublime-*
# Python compilation files
*.pyc
# File collectors
*.recordio
# PDF output files
*.pdf
# Local files
*.local.*
# MacOS storage files
.DS_Store
.dockerignore
.ipynb_checkpoints/
docs/_build/
resources/benchmarks/datasets
resources/2d
#CLion cash
.idea/
# Build debug folder
cmake-build-debug/
# lib/math/ folder 
lib/math/
# .old folders
src/hierarchies/updaters/.old/
test/.old/
examples/gamma_hierarchy/.old/
