name: CI

on:
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    if: github.repository == 'bayesmix-dev/bayesmix' && github.event.pull_request.draft == false
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: build
        run: docker

      - name: Build test Docker image
        run: docker build -f resources/docker/test/Dockerfile -t test .

      - name: Run C++ tests
        run: docker run test ./build/test/test_bayesmix

      - name: Run Python tests
        run: docker run test /bin/bash -c "cd python && pytest"

      - name: run R tests
        run: docker run test Rscript --vanilla -e "testthat::test_package('bayesmixr')"
